# Software Mentions Data Analysis Notebook
Sample notebook meant to serve as a starting point for further analyses

In [1]:
import pandas as pd

In [2]:
data_path = 'data/input_files/comm_curated.tsv.gz'

# Read the data

In [3]:
data_df = pd.read_csv(data_path, sep = '\\t', engine = 'python', compression = 'gzip')

In [5]:
data_df.head()

,license,location,pmcid,pmid,doi,pubdate,source,number,text,software,version,ID
0,comm,comm/Micropl/PMC8475362.nxml,8475362,NaN,10.1186/s43591-021-00017-9,2021,Particle selection and identification of polym...,7,"Then, all items were photographed under a bino...",Olympus CellSens,NaN,SM0
1,comm,comm/Micropl/PMC8475362.nxml,8475362,NaN,10.1186/s43591-021-00017-9,2021,Particle selection and identification of polym...,8,"Spectra were then vector normalized (OPUS, ver...",OPUS,NaN,SM1
2,comm,comm/Micropl/PMC8475362.nxml,8475362,NaN,10.1186/s43591-021-00017-9,2021,Statistical analysis,12,Model fit was assessed through functions provi...,R package DHARMa,NaN,SM2
3,comm,comm/Micropl/PMC8475362.nxml,8475362,NaN,10.1186/s43591-021-00017-9,2021,Statistical analysis,12,Analyses and plotting were performed in R (ver...,R,NaN,SM3
4,comm,comm/Micropl/PMC8475362.nxml,8475362,NaN,10.1186/s43591-021-00017-9,2021,Statistical analysis,12,Analyses and plotting were performed in R (ver...,ggplot2,NaN,SM4

In [6]:
data_df.columns

Index(['license', 'location', 'pmcid', 'pmid', 'doi', 'pubdate', 'source',
       'number', 'text', 'software', 'version', 'ID'],
      dtype='object')

# Example: Most frequent terms
Note that this aggregates over plain-text software mentions

In [8]:
data_df.groupby('software').count().sort_values(by = 'pmid', ascending = False)[:20]

,license,location,pmcid,pmid,doi,pubdate,source,number,text,version,ID
software,,,,,,,,,,,
SPSS,353065,353065,353065,351229,344044,353065,349464,353065,353065,97537,353065
R,342853,342853,342853,341642,341662,342853,328366,342853,342853,19365,342853
ImageJ,189854,189854,189854,189385,188193,189854,173963,189854,189854,8508,189854
GraphPad Prism,148887,148887,148887,148514,147641,148887,143642,148887,148887,69481,148887
BLAST,107660,107660,107660,107475,107132,107660,100902,107660,107660,729,107660
Excel,102179,102179,102179,101642,101246,102179,97687,102179,102179,17754,102179
SAS,99679,99679,99679,99410,98997,99679,97178,99679,99679,19348,99679
GraphPad,84220,84220,84220,84029,83433,84220,82753,84220,84220,1935,84220
MATLAB,83858,83858,83858,83441,83632,83858,80099,83858,83858,12842,83858
Stata,57095,57095,57095,56861,56765,57095,55820,57095,57095,18203,57095
GSEA,53519,53519,53519,53345,52851,53519,46168,53519,53519,333,53519
Image J,53292,53292,53292,53186,52459,53292,48672,53292,53292,2103,53292
Matlab,51788,51788,51788,51446,51619,51788,49171,51788,51788,7973,51788
Cytoscape,44864,44864,44864,44721,44492,44864,40744,44864,44864,5088,44864
Ensembl,42993,42993,42993,42930,42791,42993,39175,42993,42993,599,42993
MEGA,42271,42271,42271,42210,42087,42271,37098,42271,42271,24647,42271
STATA,39958,39958,39958,39754,39633,39958,39335,39958,39958,12408,39958
Prism,39663,39663,39663,39582,39314,39663,38426,39663,39663,20541,39663
SPSS Statistics,39691,39691,39691,39504,39493,39691,39414,39691,39691,15073,39691
FlowJo,38074,38074,38074,38004,37666,38074,37122,38074,38074,3674,38074

# Example: Query an entry

In [9]:
pd.options.display.max_colwidth = 100
data_df[data_df['software'] == 'scikit-learn'].head()

,license,location,pmcid,pmid,doi,pubdate,source,number,text,software,version,ID
7999,comm,comm/ACS_Nano/PMC7905882.nxml,7905882,33556239.0,10.1021/acsnano.0c10632,2021,Cluster Analysis,37,Local cluster density analysis was performed by fitting 2D KDE maps from the point clouds of clu...,scikit-learn,NaN,SM3075
8001,comm,comm/ACS_Nano/PMC7905882.nxml,7905882,33556239.0,10.1021/acsnano.0c10632,2021,Cluster Analysis,38,"Nearest neighbor analysis was performed as a k-nearest neighbor analysis, with k = 4 (excluding ...",scikit-learn,NaN,SM3075
17059,comm,comm/AMB_Express/PMC5047870.nxml,5047870,27699703.0,10.1186/s13568-016-0260-6,2016,Support vector machine model,53,The software scikit-learn 0.17 (http://scikit-learn.org) (Pedregosa et al,scikit-learn,0.17,SM3075
33933,comm,comm/Acta_Crystallogr_D_Biol_Crystallogr/PMC4427199.nxml,4427199,25945580.0,10.1107/S1399004715004241,2015,SVM setup,10,"We then used scikit-learn v.0.13.1 (Pedregosa et al., 2012 ▶) to perform recursive feature elimi...",scikit-learn,NaN,SM3075
38181,comm,comm/Acta_Crystallogr_D_Biol_Crystallogr/PMC4356372.nxml,4356372,25760616.0,10.1107/S1399004715000383,2015,Software used and Brickworx implementation,22,The SVM classifier was implemented with the use of the scikit-learn suite v.0.14.1,scikit-learn,NaN,SM3075

# Example: Most popular plain-text mentions in 2021

In [10]:
data_2021_df = data_df[data_df['pubdate'] == 2021]
data_2021_df.groupby('software').count().sort_values(by = 'pmid', ascending = False)[:20]

,license,location,pmcid,pmid,doi,pubdate,source,number,text,version,ID
software,,,,,,,,,,,
R,74613,74613,74613,73823,74592,74613,70805,74613,74613,4059,74613
SPSS,53991,53991,53991,53272,53946,53991,53265,53991,53991,14588,53991
ImageJ,32329,32329,32329,31977,32328,32329,29515,32329,32329,1440,32329
GraphPad Prism,31668,31668,31668,31365,31653,31668,30274,31668,31668,15688,31668
Excel,17216,17216,17216,16979,17211,17216,16432,17216,17216,2982,17216
GSEA,15747,15747,15747,15618,15741,15747,13293,15747,15747,133,15747
GraphPad,15661,15661,15661,15499,15653,15661,15314,15661,15661,535,15661
MATLAB,14703,14703,14703,14579,14697,14703,13782,14703,14703,2585,14703
SAS,12799,12799,12799,12696,12793,12799,12342,12799,12799,2508,12799
Cytoscape,10658,10658,10658,10552,10645,10658,9777,10658,10658,1262,10658
BLAST,10238,10238,10238,10149,10237,10238,9592,10238,10238,52,10238
PACE,9076,9076,9076,9049,9076,9076,26,9076,9076,2,9076
Stata,9055,9055,9055,8951,9053,9055,8665,9055,9055,2825,9055
SPSS Statistics,8764,8764,8764,8637,8760,8764,8666,8764,8764,2970,8764
Image J,7979,7979,7979,7913,7979,7979,7162,7979,7979,294,7979
Prism,6391,6391,6391,6337,6391,6391,6133,6391,6391,3495,6391
FlowJo,6271,6271,6271,6219,6271,6271,6065,6271,6271,634,6271
STATA,5877,5877,5877,5799,5874,5877,5711,5877,5877,1786,5877
DESeq2,5817,5817,5817,5777,5815,5817,5344,5817,5817,36,5817
Matlab,5822,5822,5822,5762,5822,5822,5369,5822,5822,1174,5822